<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% include 'Admin_Base.html' %}
    <div class="main">
        <h1>Admin Dashboard</h1>
        <a href="{% url 'create_user' %}">Create User</a>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

</html>